.carousel-container {
    padding: 10px;
    text-align: center;

    hr {
        color: rgba(0,0,0,.12);
    }

    .arrows {
        cursor: pointer;
        margin: 5px 15px 7px;
    }

    .carousel {
        margin: 5px 60px 30px;
        
        .slide {
            margin: 10px 15px 0px 15px;
            cursor: pointer;

            .slider-title {
                font-size: 18px;
                color: #5d5e5e;
                display: block;
                text-transform: uppercase;
                margin: 15px 0px 5px 0px;
            }
        }
    }
}
