<div class="carousel-container"> 
  <hr>
  <h2>OUR PRODUCT RANGES</h2>
  <p>View our range of products within specific categories</p>

  <img class="arrows" src="assets/carousel/prevowl.png" alt="previous" (click)="slickModal.slickPrev()">
  <img class="arrows" src="assets/carousel/nextowl.png" alt="next" (click)="slickModal.slickNext()">

  <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of categoryArray" class="slide" (click)="setProductCategory(slide.cat_id)" routerLink="/products/category/{{slide.cat_name.replace(' ','-').toLowerCase()}}">
            <img src="assets/categories/{{ slide.cat_image }}" alt="{{ slide.cat_image }}" width="100%">
            <p class="slider-title">{{ slide.cat_name }}</p>
      </div>
  </ngx-slick-carousel>
</div>