<div class="contact-us-container">
  <h2>CONTACT US</h2>

  <div class="contact-content">
    <div class="content-left">
      <hr>
      <h3>CAPE TOWN:</h3>

      <hr>
      <div class="side-by-side">
          <p class="title">Physical Address:</p>
          <p>7 Kunene Circle, Omuramba Business Park Milnerton 7441, South Africa</p>
      </div>

      <hr>
      <div class="side-by-side">
          <p class="title">Telephone:</p>
          <p>(021) 552 4370</p>
      </div>
     
      <hr>
      <div class="side-by-side">
          <p class="title">Fax:</p>
          <p>(021) 552 4349</p>
      </div>
      
      <hr>
      <div class="side-by-side">
          <p class="title">E-mail:</p>
          <a href="mailto:info@klight.co.za?subject=&body=">info@klight.co.za</a>
      </div>
      
      <hr>
      <div class="side-by-side">
          <p class="title">Operating Hours:</p>
          <p>Monday – Friday 08h30 – 16h00</p>
      </div>
    </div>
    <div class="content-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.0277005541643!2d18.51086631521005!3d-33.86317698065781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5eb7256f99db%3A0x26479a85919d4303!2sK.+Light+Import!5e0!3m2!1sen!2sza!4v1556704835576!5m2!1sen!2sza" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="contact-content">
      <div class="content-left">
        <hr>
        <h3>JOHANNESBURG:</h3>

        <hr>
        <div class="side-by-side">
          <p class="title">Physical Address:</p>
          <p>Unit 8 & 9; The Arena Capital Hill Business Park Cnr Le Roux & K101 Halfway House, Midrand South Africa</p>    
        </div>

        <hr>
        <div class="side-by-side">
            <p class="title">Telephone:</p>
            <p>(011) 312 1247</p>
        </div>
        
        <hr>
        <div class="side-by-side">
            <p class="title">Fax:</p>
            <p>(011) 312 9214</p>
        </div>
        
        <hr>
        <div class="side-by-side">
            <p class="title">E-mail:</p>
            <a href="mailto:info@klight.co.za?subject=&body=">info@klight.co.za</a>
        </div>
        
        <hr>
        <div class="side-by-side">
            <p class="title">Operating Hours:</p>
            <p>Monday – Friday 08h30 – 16h00</p>
        </div>
      </div>
      <div class="content-right">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.627213745544!2d28.125158215026193!3d-26.013026383523254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e956de47eb2c8d3%3A0x32ef3973a2b359b4!2sK.+Light+Import!5e0!3m2!1sen!2sza!4v1556704872752!5m2!1sen!2sza" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
</div>

<app-category-carousel></app-category-carousel>
