.products-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;

    h1 {
        width: 100%;
        font-size: 24px;
        margin: 5px 30px;
    }

    .spinner {
        margin: 0 auto;
    }

    .tiles-contaner {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: 901px) {
            padding: 0 1.5%;
        }

        .category-tile {
            display: flex;
            flex-direction: column;
            // border: 1px solid #000;
            // text-align: center;
            border-radius: 7px;
            // box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15);
            margin: 1%;
            justify-content: space-around;

            @media screen and (min-width: 901px) {
                width: 23%;
            }

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            img {
                display: block;
                max-width: 100%;
                cursor: pointer;
                height: auto;

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    max-height: 280px;
                }
    
                @media screen and (max-width: 900px) {
                    height: auto;
                    object-fit: contain;
                }
            }

            h5 {
                margin: 20px 0;
                font-size: 17px;
                color: #000;
                text-transform: uppercase;
                font-weight: bold;
            }

            .view-more {
                display: flex;
                justify-content: flex-start;
                // background-color: #000;
                color: #000;
                // padding: 5%;
                
                a {
                    cursor: pointer;
                    color: #000;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
    }
}
